Repository test015/circleci-sandbox: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-workflow-a, run-workflow-b

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@0.1.1
  continuation: circleci/continuation@0.2.0

parameters:
  manual-workflow-a:
    type: boolean
    default: false
  manual-workflow-b:
    type: boolean
    default: false

workflows:
  setup:
    unless:
      or: [<< pipeline.parameters.manual-workflow-a >>, << pipeline.parameters.manual-workflow-a >>]
    jobs:
      - path-filtering/filter:
          base-revision: << pipeline.git.branch >>
          config-path: .circleci/workflows.yml
          mapping: |
            dir_a/.* run-workflow-a true
            dir_b/.* run-workflow-b true
  setup-manual:
    when:
      or: [<< pipeline.parameters.manual-workflow-a >>, << pipeline.parameters.manual-workflow-a >>]
    jobs:
      - continuation/continue:
          configuration_path: .circleci/workflows.yml
          parameters: /tmp/pipeline-parameters.json
          pre-steps:
            - run:
                command: |
                  echo '{ "run-workflow-a": << pipeline.parameters.manual-workflow-a >>, "run-workflow-b": << pipeline.parameters.manual-workflow-b >> }' >> /tmp/pipeline-parameters.json

retrigger ci
  README.md
Due: none

add dir_a
  .circleci/dir_a/README.md
Due: none

redo params
  .circleci/config.yml
Due: none

readme dir_b
  dir_a/README.md
  dir_b/README.md
Due: run-workflow-a, run-workflow-b

test
  .circleci/workflows.yml
Due: none

dir_a
  dir_a/README.md
Due: run-workflow-a

add both
  dir_a/README.md
  dir_b/README.md
Due: run-workflow-a, run-workflow-b

add both
  dir_a/README.md
Due: run-workflow-a

test_dirb
  dir_b/README.md
Due: run-workflow-b

update ci
  .circleci/workflows.yml
Due: none
